/* General Styles */
body {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(coffee2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* Hero Section */

.hero-section {
    background-image: url('coffee2.jpg');
    background-size: cover;
    color: white;
    padding: 150px 0;
}

.hero-section h1 {
    font-size: 4rem;
}

.hero-section p {
    font-size: 1.5rem;
}

/* Menu Item Card */
.our-menu{
    color: antiquewhite;
}
.menu-item {
    margin-bottom: 30px;
}

.menu-item img {
    height: 200px;
    object-fit: cover;
}

/* Footer */
footer a {
    color: white;
}

